body {
    border: 1px solid black;
    width: 960px;
}

header {
    border: 1px solid purple;
    height: 120px;
    width: 100%;
    /* margin: auto; */
}

#headerlist {
    border: 1px solid red;
    width: 100%;
    /* margin: auto; */

}

#headerlist li {
    border: 1px solid orange;
    list-style-type: none;
    float: left;
    margin-right: 7%;
}

#large-image {
    margin: auto;
}
